FLOW_DB_DRIVER=pgsql
FLOW_DB_HOST=127.0.0.1
FLOW_DB_PORT=5432
FLOW_DB_USER=postgres
FLOW_DB_PASS=postgres
FLOW_DB_NAME=flowdb

FLOW_REGISTRY_EXPIRY=12s
FLOW_REGISTRY_KEEPALIVE_INTERVAL=10s
FLOW_REGISTRY_SWEEP_INTERVAL=5s
FLOW_REGISTRY_SWEEP_BATCH=200
FLOW_REGISTRY_WATCH_INTERVAL=500ms
FLOW_REGISTRY_WATCH_BATCH_SIZE=200
FLOW_REGISTRY_WATCH_MAX_RETRY_BACKOFF=10s